.btn {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.btn-gray {
    background-color: #9aa3af;
    color: #fff;
}


.btn:hover {
  filter: brightness(0.9);
}