/* =========================
   버튼 공통 css
========================= */
.btn {
  width: auto;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: filter .2s ease;
}
.btn:hover {
  filter: brightness(0.9);
}

/* =========================
   버튼 색상 ( btn-${variant} )
========================= */
.btn-gray {
    background-color: #9aa3af;
    color: #fff;
}

.btn-skyblue {
    background-color: #38BDF8;
    color:#fff;
}


/* =========================
   버튼 종류 ( ${className} )
========================= */
.btn-full {
  width: 100%;
}

.btn-small {
  padding: 10px 14px;
  min-height: 36px;
  font-size: 13px;
  border-radius: 10px;
}

.btn-add {
  padding: 6px 10px;
  min-height: 28px;
  font-size: 13px;
  border-radius: 8px;
  font-weight: 600;
}
.btn-delete {
  padding: 4px 8px;
  min-height: 26px;
  font-size: 12px;
  border-radius: 8px;
  font-weight: 600;
}

.btn-add-confirm {
  padding: 6px 10px;
  font-size: 13px;
}