/* =========================
   버튼 공통 css
========================= */
.btn {
  width: auto;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: .3s;
}
.btn:hover {
  filter: brightness(0.9);
}

/* =========================
   버튼 색상 ( btn-${variant} )
========================= */
.btn-gray {
    background-color: #9aa3af;
    color: #fff;
}


/* =========================
   버튼 종류 ( ${className} )
========================= */
.btn-full {
  width: 100%;
}

.btn-small {
  width: 10%;
  padding: 5px;
}

.btn-add {
  padding: 6px 10px;
}
.btn-delete {
  padding: 4px 8px;
}

.btn-add-confirm {
  padding: 6px 10px;
  font-size: 13px;
}