.design-box {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 16px 10px;
    background: #ddd;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dot.red {
  background-color: #ff5f57;
}

.dot.yellow {
  background-color: #febc2e;
}

.dot.green {
  background-color: #28c840;
}

.address-bar {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    
    width: 50%;
    max-width: 500px;
    min-width: 120px;
    height: 20px;
    
    background: #fff;
    border-radius: 5px;    
}